body {
    color: #4a4e4d;
    text-align: center;
    font-family: 'Liu Jian Mao Cao', cursive;
}

nav {
    color: #0e9aa7;
    background-color: #0e9aa7;
    border: 1px solid #f6cd61;
    width: 25%;
    border-radius: 10px;
    line-height: 2em;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

a {
    color:  #f6cd61;
    text-decoration: none;
}

ul {
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
}

li {
    color:  #f6cd61;
    display: inline-block;
    list-style-type: none;
}

h1 {
    line-height: 5em;
}

p {
    line-height: 5em;
    font-family: 'Roboto', sans-serif;
}

section {
    width: 50vw;
    background:  #0e9aa7;
    margin: auto;
    border-radius: 10px;
}

