body {
    background: #4a4e4d;
    color: #fe8a71;
    text-align: center;
}

nav {
    color: #0e9aa7;
    background-color: #0e9aa7;
    width: 75%;
    line-height: 5em;
    margin: auto;
}

li {
    display: inline-block;
    list-style-type: none;
}

h1 {
    line-height: 5em;
}

p {
    line-height: 5em;
}

section {
    width: 50vw;
    background:  #0e9aa7;
    margin: auto;
}